.customTrigger {
    position: absolute;
    width: 20px;
    height: 70px;
    top: 40%;
    right: -22px;
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #8FB4D8;
    border-left: none;
}
.customTrigger:before {
    position: absolute;
    content: '';
    background: url(/images/icons/audio_player_controls.png);
    width: 10px;
    height: 14px;
    background-position: -7px -130px;
    background-size: 36px;
    top: 40%;
    left: 6px;
}
.customBox {
    position: fixed;
    background: white;
    z-index: 10;
    top: 50%;
    width: 200px;
    height: 360px;
    margin-top: -180px;
    border: 2px solid #8FB4D8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateX(-200px);
    transition: transform 0.7s cubic-bezier(0.4, 0.23, 0.35, 0.95);
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}
.customBox.active {
    transform: translateX(0);
}
.customColorInput::-webkit-color-swatch {
    border-radius: 100%;
}
.customColorInput[type="color"] {
    border: none;
    background: none;
    width: 50px;
    height: 54px;
    outline: none;
}
.customHeading {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.customColorContainer {
    position: relative;
}
.customColorContainer:before {
    position: absolute;
    content: " ";
    width: 20px;
    height: 8px;
    bottom: 16.5px;
    right: 5px;
    background: url(/images/post_more.png) no-repeat 50%;
}
.customColorSelect {
    max-width: 100%;
    border: 1px solid #C7D2DD;
    margin: 5px 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2px;
}
.customColorLabel {
    display: block;
    font-size: 1.2em;
}