.customContainer {
    position: fixed;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.customContainer.active {
    display: flex;
}
.customPopup {
    position: relative;
    width: 350px;
    height: 450px;
    background: white;
    border-radius: 5px;
    border: 2px solid #597da3;
    -webkit-animation: slideUp .4s ease-in-out;
    animation: slideUp .4s ease-out;
    box-sizing: border-box;
}
@keyframes slideUp {
    from {
        transform: translateY(70em);
    }
    to {
        transform: translateY(0em);
    }
}
.customClose {
    background: url(/images/icons/cross.png) no-repeat;
    width: 12px;
    height: 12px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}
.customHeading {
    position: relative;
    padding: 0 0 0 25px;
    margin: 0;
    background-color: #6287ae;
    font-size: 14px;
    color: #fff;
    height: 54px;
    line-height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.customBlock {
    position: relative;
    padding: 10px 10px 5px 10px;
}
.customLabel {
    display: block;
    font-size: 1.2em;
    color: #597da3;
}
.customCheckBox:checked + .customLabel:after {
    position: absolute;
    content: ' ';
    width: 22px;
    height: 22px;
    background: url(/images/icons/check_uncheck.png) no-repeat 0 0px;
}
.customAdsLabel:after {
    position: absolute;
    content: ' ';
    width: 22px;
    height: 22px;
    top: 8px;
    right: 12px;
    background: url(/images/icons/check_uncheck.png) no-repeat 0 -26px;
}
.customPopup select {
    font-family: Open Sans,Helvetica Neue,sans-serif;
    max-width: 100%;
    width: 100%;
    border: 2px solid #d3d9de;
    border-radius: 3px;
    padding: 5px;
    font-size: 1.1em;
    margin: 10px 0 0;
    -webkit-appearance: none;
    background: url(/images/icons/profile_arrow.png) no-repeat;
    background-size: 10px;
    background-position: 97%;
    outline: none;
}
.customPopup option {
    color: #4a6f97;
}
.customCheckBox {
    position: absolute;
    top: 6px;
    right: 8px;
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: 1;
}
/*SCHEME COMMON*/
.custom #side_bar_inner ol {
    padding: 10px 0;
}
.custom #side_bar_inner ol,
.custom #side_bar_inner li {
    position: relative;
    background: white;
    border-radius: 5px;
}
.custom #side_bar_inner ol:before {
    position: absolute;
    content: ' ';
    background: white;
    height: 100%;
    width: 30px;
    top: 0;
    left: -8px;
    border-radius: 5px;
}

/*DRACULA*/
:root.dracula{
    --header-bg-color: #5A5A5A;
    --secondary-color: #2b2b2b;
    --secondary-text-color: #b8b6b6;
    --bg-color: #2b2b2b;
}
:root.ariel{
    --header-bg-color: #039BE5;
    --secondary-color: #0288D1;
    --secondary-text-color: #ffffff;
    --bg-color: #d5d5d5;
}
.custom body {
    background: var(--bg-color);
}
.custom #page_header_cont .back {
    position: absolute;
    width: 100%;
    background: var(--header-bg-color);
    height: 46px;
    border-bottom: none;
    box-sizing: border-box;
}
.custom .text.ts_input {
    background: var(--secondary-color);
}
.custom .ts_wrap .input_back_content {
    color: var(--secondary-text-color);
}
.custom .top_nav_btn.active,
.custom .top_nav_btn:hover,
.custom .top_audio_player.audio_top_btn_active,
.custom .top_audio_player:hover,
.custom .audio_play,
.custom .top_nav_link:hover,
.custom .top_nav_link.active{
    background-color: var(--secondary-color);
}
.custom .top_nav_btn#top_notify_btn .top_nav_btn_icon,
.custom .top_nav_btn#top_notify_btn:hover .top_nav_btn_icon{
    background-position: -65px -23px;
}
.custom .top_nav_btn#top_audio .top_nav_btn_icon,
.custom .top_nav_btn#top_audio:hover .top_nav_btn_icon {
    background-position: -65px -52px;
}
.custom .top_notify_count {
    border: 2px solid var(--bg-color);
}
.custom .top_nav_btn:hover .top_notify_count{
    border-color: var(--header-bg-color);
}
.top_audio_player .top_audio_player_btn>div {
    opacity: 1;
}